{% extends 'index.html' %} {% load static %} {% block style %}
<style>
  label {
    font-size: 25px;
  }
  .error {
    color: rgb(86, 12, 234);
  }
</style>
{% endblock style %} {% block main %}
<div class="brand_color">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2 class="mt-4">Password Reset</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="main_form mx-5" action="" method="POST" novalidate>
            {% csrf_token %} {% if form.email.errors %}
            <h2 class="error">{{ form.email.errors }}</h2>
            {% endif %}
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <strong> {{ form.email.label_tag }} </strong> <br />
                {{ form.email }}
              </div>
            </div>
            <input class="btn btn-primary mt-2" type="submit" value="Reset" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %} {% block script %}
<script>
  $(document).ready(function () {
    $("#id_email").addClass("form-control");
  });
  const email = document.getElementById("id_email");
  email.setAttribute("placeholder", "Email");
</script>
{% endblock script %}
