{% extends 'index.html' %}
{% load static %}

{% block style %}
<style>
    label {
        font-size: 25px;
    }

    .error {
        color: red;
    }
    h1{
        font-size: 25px;
    }
</style>
{% endblock style %}

{% block main %}
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2 class="mt-4">Password Reset Complete</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-success">Your Password Has Been Set. <strong><a class="text-primary" href="{% url 'login' %}">Log In</a></strong> Now.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#id_email").addClass('form-control')
    });
</script>
{% endblock script %}