{% extends 'index.html' %}
{% load static %}

{% block style %}
<style>
    label {
        font-size: 25px;
    }

    .error {
        color: red;
    }
</style>
{% endblock style %}

{% block main %}
<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2 class="mt-4">Password Reset Confirm</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="contact">
        <div class="alert alert-success alert-dismissible fade show d-inline-block" role="alert">
            <h5>Please Enter (And Confirm) Your New Password.</h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="mt-1 d-inline-block" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if validlink %}
                    <form action="" method="POST" NOVALIDATE>
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password:</label>
                                </td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password:</label>
                                </td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                        </table>
                        <td><input class="btn btn-primary mt-2" type="submit" value="Change my password" /></td>
                    </form>
                    {% else %}
                    <h1>Password reset failed</h1>

                    <p>The password reset link was invalid, possibly because it has already been
                        used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
<script>
    $(document).ready(function () {
        $("#id_new_password1, #id_new_password2").addClass('form-control')
    });
</script>
{% endblock script %}